<% layout('/layouts/boilerplate') -%>
<div style="height:500px;">
    <div class="alert alert-danger cols-8 offset-1" role="alert" height="100px">
        <h4 class="alert-heading"><%= message  %></h4>
    </div>
</div>
