<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2 mt-3">
        <h1>Sign Up :</h1>
        <form method="POST" action="/signup" 
            class="needs-validation" novalidate>
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">username</label>
                <input type="text" id="username" name="username" 
                        class="form-control" placeholder="Enter username" required/>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Enter valid username</div><br>
            </div>
            <div class="mb-3 mt-3">
               <label for="password" class="form-label">password</label>
               <input type="password" id="password" name="password" 
                       class="form-control" placeholder="Enter password" required/>
               <div class="invalid-feedback">Enter valid password!</div><br>
           </div>
           <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="email" id="email" name="email" 
                    class="form-control" placeholder="Enter email" required/>
            <div class="invalid-feedback">Enter valid email</div><br>
        </div>
        <button class="btn btn-outline-success mb-3">sign up</button>
        </form>
    </div>
</div>
<script src="/js/script.js"></script>